/**
 * Buttons
 */

.button {

	background-color: $light-grey;
	width: auto;
	padding: 6px 14px;
	display: inline-block;
	border-radius: $radius;
	box-shadow: inset 0 -2px 0 rgba( 0, 0, 0, 0.1 );
	color: $mono;
	font-size: 90%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: ease-in-out all 0.25s;
	outline: none;
	cursor: pointer;

	&:hover {

		background-color: darken( $light-grey, 10% );
		color: $mono;

	}

	&:focus {

		box-shadow: 0 0 0 3px lighten( $primary, 20% );
		outline: none;

	}

	&__group {

		width: auto;
		display: inline-flex;
		position: relative;
		flex-wrap: nowrap;
		align-items: center;

		.button {

			border-left: 1px solid rgba( 0, 0, 0, 0.1 );
			border-right: 1px solid rgba( 0, 0, 0, 0.1 );

			&:first-of-type {

				border-left: none;
				border-radius: $radius 0 0 $radius;

			}

			&:last-of-type {

				border-right: none;
				border-radius: 0 $radius $radius 0;

			}

			&:only-of-type {

				border: none;
				border-radius: $radius;

			}

		}

	}

	&__dropdown {

    	background-color: $white;
		width: 200px;
		padding: 10px;
		display: none;
		box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.1 );
		position: absolute;
		top: calc( 100% + 5px );
		z-index: 200;

		.button {

			&,
			&:first-of-type,
			&:only-of-type,
			&:last-of-type {

				border-radius: $radius;

			}

		}

		&--left {

			left: 0;

		}

		&--right {

			right: 0;

		}

	}

	i {

		width: auto;
		height: auto;
		margin: 0 3px 0 0;
		font-size: inherit;

	}

	&--primary,
	&--secondary {

		background-color: $primary;
		color: $white;

		&:hover {

			background-color: $secondary;
			color: $white;

		}

		&:active {

			background-color: $secondary;
			box-shadow: inset 0 3px 0 rgba( 0, 0, 0, 0.25 );
			color: $white;

		}

	}

	&--secondary {

		background-color: $secondary;

		&:hover {

			background-color: darken( $secondary, 2% );

		}

		&:active {

			background-color: darken( $secondary, 10% );

		}

	}

	&--warning {

		background-color: $red;
		color: $white;

		&:hover {

			background-color: darken( $red, 2% );
			box-shadow: inset 0 -3px 0 rgba( 0, 0, 0, 0.25 );
			color: $white;

		}

		&:active {

			background-color: darken( $red, 10% );
			box-shadow: inset 0 3px 0 rgba( 0, 0, 0, 0.25 );
			color: $white;

		}

	}

	&--wide {

		width: 100%;

	}

	&--large {

		padding: 10px 30px;
		font-size: 100%;

	}

	&--small {

		padding: 2px 10px;
		font-size: 80%;

	}

	&--round {

		border-radius: 100%;

	}

	&--push {

		&-top {

			margin-top: 10px;

		}

		&-left {

			margin-left: 10px;

		}

		&-right {

			margin-right: 10px;

		}

		&-bottom {

			margin-bottom: 10px;

		}

	}

	&--toggle {

		&--left,
		&--right {

			padding: 6px 10px;

			i {

				margin: 0;

			}

		}

	}

}
