/**
 * Tables
 */

table {

	background-color: $white;
	border: 1px solid $light-grey;
	width: 100%;

	@media screen and ( max-width: 768px ) {

		display: block;
		overflow: auto;

	}

	thead,
	tbody,
	tfoot {

		width: 100%;

		tr {

			width: 100%;

		}

		th,
		td {

			padding: 10px;

		}

	}

	thead,
	tfoot {

		background-color: $light-grey;
		border: none;

		th {

			color: $mono;
			font-size: $text-sm;
			font-family: $font-family;
			text-align: left;

		}

	}

	thead {

		border-bottom: 1px solid darken( $light-grey, 10% );

	}

	tfoot {

		border-top: 1px solid darken( $light-grey, 10% );

	}

	tbody {

		tr,
		th,
		td {

			font-size: $text-sm;
			font-family: $font-light;

		}

		tr {

			background-color: $clear;
			border-bottom: 1px solid $light-grey;

			&:nth-of-type(odd) {

				background-color: $clear;

			}

			&:nth-of-type(even) {

				background-color: lighten( $light-grey, 4% );

			}

			&:only-of-type,
			&:last-of-type {

				border-bottom: none;

			}

			&:only-of-type,
			&:last-of-type {

				border-bottom: none;

			}

		}

	}

}
