/**
 * Variables
 */

$container: 1024px;
$gutter:    20px;

$text-xxl: 30px;
$text-xl:  24px;
$text-lg:  22px;
$text-md:  18px;
$text-sm:  16px;
$text-xs:  14px;
$text-xxs: 10px;

$font-size:      $text-md;
$font-weight:    400;
$font-family:    "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-thin:      "Work Sans Thin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-light:     "Work Sans Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-bold:      "Work Sans Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-heavy:     "Work Sans Heavy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$line-height:    125%;
$letter-spacing: 0;

$radius:  5px;
$lighter: 15%;
$darker:  25%;

$clear:       transparent;
$white:       #ffffff;
$black:       #000000;
$mono:        #222222;
$blue:        #004ddd;
$dark-blue:   #002b7b;
$primary:     $blue;
$secondary:   $dark-blue;
$blue:        #0083ef;
$red:         #e40f0e;
$green:       #2aa528;
$dark-grey:   #333333;
$grey:        #a7abb0;
$light-grey:  #f1f1f1;
