/**
 * Dashboard
 */

#cece {

	@media screen and ( max-width: 768px ) {

		&.header-open {

			height: 100%;
			overflow: hidden;
			position: relative;

			&::before {

				background-color: rgba( 0, 0, 0, 0.5 );
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				z-index: 100;

			}

		}

	}

	.dashboard {

		width: 100%;
		margin: 0;
		display: block;

		position: relative;

		&__card {

			background-color: $white;
			width: auto;
			padding: 20px;
			border-radius: $radius;
			box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1 );

		}

		.header {

			background-color: $black;
			width: 100%;
			min-height: 1px;
			margin: 0;

			padding: 0;

			display: flex;
			align-items: center;

			position: sticky;
			top: 0;
			z-index: 99;

			&-toggle {

				background-color: $light-grey;
				border-bottom: 1px solid $grey;
				width: 100%;
				padding: 8px 20px;
				display: block;
				color: $mono;
				font-weight: 700;
				text-align: center;
				text-decoration: none;
				transition: ease-in-out all 0.5s;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 900;

				&:hover {

					background-color: $white;
					color: $mono;

				}

				&:focus {

					box-shadow: inset 0 0 0 3px lighten( $primary, 20% );

				}

				@media screen and ( min-width: 769px ) {

					display: none;

				}

			}

			&__logo {

				background-color: $white;
				border: 2px solid $white;

				width: auto;
				margin: 10px;
				padding: 6px 15px;
				display: inline-block;

				color: $black;
				font-size: $text-lg;
				text-align: center;
				font-family: $font-bold;

				text-decoration: none;
				transition: ease-in-out all 0.5s;

				text-wrap: nowrap;

				&:hover {

					background-color: $clear;
					color: $white;

				}

				&:focus {

					box-shadow: inset 0 0 0 3px lighten( $primary, 20% );

				}

			}

			&__search {

				padding: 20px 14px;

				form {

					position: relative;

				}

				input {

					padding: 4px 38px 4px 10px;

				}

				button {

					background-color: transparent;
					width: 32px;
					height: 32px;
					border-radius: $radius;
					transition: ease-in-out all 0.25s;
					cursor: pointer;
					position: absolute;
					top: 2px;
					right: 2px;

					&:hover {

						background-color: $mono;

					}

					&:focus {

						box-shadow: 0 0 0 3px lighten( $primary, 20% );
						outline: none;

					}

					i {

						font-size: 1.1rem;
						line-height: 22px;
						position: relative;
						top: 2px;

					}

				}

			}

			&__menu {

				padding: 0;

				ul {

					width: auto;
					margin: 0 10px;
					padding: 0;

					display: flex;
					align-items: center;
					flex-wrap: nowrap;

					li {

						width: auto;
						margin: 0 10px 0 0;
						padding: 0;
						display: inline-block;
						list-style: none;

						position: relative;

						a {

							background-color: $clear;

							width: 100%;
							margin: 0;
							padding: 20px 10px;
							display: block;

							color: darken( $light-grey, 10% );
							font-size: $text-sm;
							text-decoration: none;

							transition: none;

							&:hover {

								background-color: $white;

								color: $black;

							}

						}

						ul {

							background-color: $black;
							width: 100%;
							min-width: 150px;

							margin: 0;
							padding: 0;

							display: none;
							box-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.15 );

							position: absolute;
							top: 100%;
							left: 0;

							z-index: 10;

							li {

								width: 100%;
								margin: 0;
								padding: 0;

								a {

									padding: 10px 14px;

									&:hover {

										background-color: $white;

										color: $black;

									}

								}

							}

						}

						&:hover {

							background-color: $white;

							> a {

								color: $black;

							}

							ul {

								display: block;

							}

						}

					}

				}

			}

			&__profile {

				background-color: $clear;

				width: auto;
				margin-left: auto;
				margin-right: 10px;
				padding: 6px 12px;

				display: flex;
				align-items: center;

				color: $light-grey;
				text-decoration: none;

				transition: ease-in-out all 0.5s;

				.profile {

					&__avatar {

						background-color: $white;

						width: 32px;
						height: 32px;
						display: block;

						border-radius: 100%;

						color: $black;
						font-size: $text-sm;
						line-height: 32px;
						font-family: $font-bold;
						text-align: center;

					}

					&__name {

						width: 120px;
						margin-left: 10px;

						text-wrap: wrap;

						transition: ease-in-out all 0.5s;

					}

				}

				&:hover {

					background-color: $primary;

					.profile {

						&__name {

							color: $white;

						}

					}

				}

			}

		}

		.content {

			width: 100%;

			position: relative;
			z-index: 11;

			&__wrapper,
			&__banner,
			&__main,
			&__footer {

				width: 100%;
				display: block;

			}

			&__wrapper {

				width: 100%;
				max-width: $container;

				margin: 0 auto;
				padding: 20px $gutter 0;

				display: block;

			}

			&__banner {

				padding: 20px 0;

			}

			&__main {

				margin: 0 0 20px;

			}

			&__footer {

				margin: 40px 0 20px;

			}

		}

	}

}
